In [1]:
import sqlite3
import pandas as pd

In [4]:
df = pd.read_sql("SELECT * FROM transformed_train_df",con=sqlite3.connect("../crawto.db"))

In [6]:
df.head()

,Pclass_target_encoded,Sex_target_encoded,Age_target_encoded,SibSp_target_encoded,Parch_target_encoded,Embarked_target_encoded,Fareimputed__yj
0,0.379928,0.345912,0.333350,0.374622,0.374677,0.392857,-0.706938
1,0.434783,0.485549,0.428459,0.446429,0.452830,0.392857,0.400650
2,0.379928,0.345912,0.333333,0.374622,0.374677,0.392857,-0.796843
3,0.379928,0.485549,0.390909,0.499986,0.452830,0.392857,0.371117
4,0.434783,0.485549,0.250121,0.446429,0.477273,0.392857,0.454673

In [8]:
def correlation_report(df):
    sns.heatmap(df[numeric_features].corr())
correlation_report(df)

NameError: name 'sns' is not defined